<!DOCTYPE html>
<html>
<head>
  <title>Project Selection</title>
</head>
<body>
  <h1>Welcome</h1>
  <p>Select a project to view:</p>
  <ul>
    <li><a href="/static/index.html">Static HTML Project</a></li>
    <li><a href="/dynamic">Dynamic Node.js + EJS Project</a></li>
  </ul>
</body>
</html>
